* {
    box-sizing: border_box;
    margin: 0;
}

body > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    border: 2px dashed black;
    background-color: lightskyblue;
    text-align: center;
}

div {
    padding: 20px;
    background-color: lightcoral;
}

span {
    display: block;
    padding: 20px;
    background-color: green;
}

p {
    pointer-events: none;
}
